<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 用于操作ProductDao的sql语句映射 -->
<mapper namespace="dangdang.dao.ProductDao">

	
	<!-- 根据商品id查询商品信息 映射关系 -->
	<resultMap type="dangdang.beans.Product" id="productMap">
		<id column="pId" property="pId"/>
		<result column="pName" property="pName"/>
		<result column="pDetials" property="pDetials"/>
		<result column="sales" property="sales"/>
		<result column="price" property="price"/>
	</resultMap>
	<!-- 根据 商品 或 用户id查询商品评论 映射关系 -->
	<resultMap type="dangdang.beans.DangComments" id="productCommentMap">
		<result column="commentId1" property="commentId"/>
		<collection property="comments" ofType="dangdang.beans.Comment">
			<result column="cpId" property="pId"/>
			<result column="cuid" property="uId"/>
			<result column="dcomment" property="comment"/>
			<result column="commentTime" property="commentTime"/>
		</collection>
	</resultMap>
	<!-- 根据产品id查询商品图片  映射关系 -->
	<resultMap type="dangdang.beans.ImgPath" id="productImgPathMap">
		<result column="img_id" property="imgPath_Id"/>
		<collection property="imgPaths" ofType="String">
			<result column="img_path"/>
		</collection>
	</resultMap>
		<!-- 根据价格区间 查询某商品 -->
	<select id="queryByPriceRange" resultMap="productMap">
		<!-- 商品详情 -->
		SELECT 
			id AS pId,
			name AS pName,
			detials AS pDetials,
			sales,
			price
		<!-- 添加rownum列 -->
		FROM (
			SELECT 
				dp.*,
				rownum rn 
			FROM 
				dangproduct dp
			<trim prefix ="where" prefixOverrides="and">
			<!-- 查询所有 -->
				<if test="lowPrice==null and highPrice==null">
					name LIKE '%'||#{productName}||'%') 
				</if>
				<!-- 查询低于某价格的 -->
				<if test="lowPrice==null and highPrice!=null">
					name LIKE '%'||#{productName}||'%' AND price &lt;= #{highPrice})
				</if>
				<!-- 查询在价格在某个区间内的 -->
				<if test="lowPrice!=null and highPrice!=null">
					name LIKE '%'||#{productName}||'%' AND price &gt;= #{lowPrice} AND price &lt;= #{highPrice})
				</if>
				<!-- 查询价格高于多少的 -->
				<if test="lowPrice!=null and highPrice==null">
					name LIKE '%'||#{productName}||'%' AND price &gt;= #{lowPrice})
				</if>
			</trim>
			WHERE rn &gt;= #{begin} and rn &lt;= #{end} 
	</select>
		<!-- 根据价格区间 查询某商品 后 根据销量排序 -->
	<select id="queryByPriceRangeOrderBySales" resultMap="productMap">
		<!-- 商品详情 -->
		SELECT 
			id AS pId,
			name AS pName,
			detials AS pDetials,
			sales,
			price
		<!-- 添加rownum列 -->
		FROM (
			SELECT
				 oBySalesP.*,
				 rownum rn
			<!-- 原始数据库数据 根据 销量排序 -->
    		FROM (select dp.* from dangproduct dp
			<trim prefix ="where" prefixOverrides="and">
			<!-- 查询所有 -->
				<if test="lowPrice==null and highPrice==null">
					name LIKE '%'||#{productName}||'%' ORDER BY sales desc)oBySalesP) 
				</if>
				<!-- 查询低于某价格的 -->
				<if test="lowPrice==null and highPrice!=null">
					name LIKE '%'||#{productName}||'%' AND price&lt;=#{highPrice} ORDER BY sales desc)oBySalesP)
				</if>
				<!-- 查询在价格在某个区间内的 -->
				<if test="lowPrice!=null and highPrice!=null">
					name LIKE '%'||#{productName}||'%' AND price&gt;=#{lowPrice} AND price&lt;=#{highPrice} ORDER BY sales desc)oBySalesP) 
				</if>
				<!-- 查询价格高于多少的 -->
				<if test="lowPrice!=null and highPrice==null">
					name LIKE '%'||#{productName}||'%' AND price&gt;=#{lowPrice} ORDER BY sales desc)oBySalesP) 
				</if>
			</trim>
			WHERE rn&gt;=#{begin} AND rn&lt;=#{end} 
	</select>
	<!-- 根据价格区间 查询某商品 的数量-->
	<select id="queryByPriceRangeCount" resultType="java.lang.Integer">
	<!-- max（rownum可获得结果集中最大的一行 也就得出结果集的数量） -->
		SELECT max(rownum) FROM dangproduct
			<trim prefix ="where" prefixOverrides="and">
			<!-- 查询所有 -->
				<if test="lowPrice==null and highPrice==null">
					name LIKE '%'||#{productName}||'%'
				</if>
				<!-- 查询低于某价格的 -->
				<if test="lowPrice==null and highPrice!=null">
					name LIKE '%'||#{productName}||'%' AND price &lt;= #{highPrice}
				</if>
				<!-- 查询在价格在某个区间内的 -->
				<if test="lowPrice!=null and highPrice!=null">
					name LIKE '%'||#{productName}||'%' AND price &gt;= #{lowPrice} AND price &lt;= #{highPrice}
				</if>
				<!-- 查询价格高于多少的 -->
				<if test="lowPrice!=null and highPrice==null">
					name LIKE '%'||#{productName}||'%' AND price &gt;= #{lowPrice}
				</if>
			</trim>
			
	</select>
	<!-- 根据商品id查询商品信息 -->
	<select id="queryById" resultMap="productMap">
		SELECT 
			id AS pId,
			name AS pName,
			detials AS pDetials,
			sales,
			price
		FROM 
			dangproduct dp 
		WHERE 
			dp.id = #{id}
	</select>
	<!-- 根据商品id查询商品评论 -->
	<select id="queryCommentByPId" resultMap="productCommentMap">
		SELECT 
			comment_pid AS commentId1,
			comment_pid AS cpId,
			Comment_Uid AS cuid,
			dcomment AS dcomment,
			dcomment_Time AS commentTime
		FROM 
			dangComment
		WHERE 
			comment_pid = #{cid}
	</select>
	<!-- 根据用户id查询商品评论 -->
	<select id="queryCommentByUId" resultMap="productCommentMap">
		SELECT 
			Comment_Uid AS commentId1,
			comment_pid AS cpId,
			Comment_Uid AS cuid,
			dcomment AS dcomment,
			dcomment_Time AS commentTime
		FROM 
			dangComment
		WHERE 
			Comment_Uid = #{id}
	</select>
	<!-- 根据产品id查询商品图片 -->
	<select id="queryImgByPId" resultMap="productImgPathMap">
		SELECT 
			img_id,
			img_path 
		FROM 
			product_imgPath 
		WHERE 
			img_id = #{pId}
	</select>
	<!-- 根据种类名 查询商品ip -->
	<select id="queryProductsByCategory" resultMap="productMap">
	SELECT 	
		id AS pId,
		name AS pName,
		detials AS pDetials,
		sales,
		price 
	FROM(
		SELECT 
			p.*,rownum rn
		FROM(
			SELECT 
				*
			FROM pd_category pc
				join category c ON pc.category_id = c.category_id 
				join product_imgPath pi ON pid = pi.img_id 
				join dangproduct dp ON dp.id = pid 
			WHERE c.category_name = #{categoryName})
		p)
	WHERE rn&gt;= #{begin} AND rn&lt;= #{end}
	</select>
</mapper>
