<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 用于操作ProductDao的sql语句映射 -->
<mapper namespace="dangdang.dao.CategoryDao">
	
	<resultMap type="dangdang.beans.Category" id="CategoryMap">
		<result column="fid" property="categoryID"/>
		<result column="fname" property="categoryName"/>
		<result column="ff" property="father_categorieID"/>
		<collection property="child_categories" ofType="dangdang.beans.Category">
			<result column="cid" property="categoryID"/>
			<result column="cname" property="categoryName"/>
			<result column="cf" property="father_categorieID"/>
		</collection>
	</resultMap>
	<select id="queryCategoryById" resultMap="CategoryMap">
		SELECT 
			c1.category_id AS fid,
			c1.category_father AS ff,
			c1.category_name AS fname,
			c2.category_id AS cid,
			c2.category_father AS cf,
			c2.category_name AS cname
		FROM category c1 
		JOIN category c2 ON c1.category_id = c2.category_father 
		WHERE c1.category_id = #{category_id}
	</select>
	<select id="queryAllCategory" resultMap="CategoryMap">
		SELECT 
			c1.category_id AS fid,
			c1.category_father AS ff,
			c1.category_name AS fname,
			c2.category_id AS cid,
			c2.category_father AS cf,
			c2.category_name AS cname 
		FROM category c1 
		JOIN category c2 ON c1.category_id = c2.category_father
	</select>
</mapper>
